<div class="row sound">
  <div class="<%= sound.public ? 'public' : 'private' %> sound">
    <% if sound.title %>
      <%= link_to "#{sound.title}", sound, :class => "button tiny" %>
    <% else %>
      <%= link_to "Sound #{sound.id}", sound, :class => "button tiny" %>
    <% end %>
  </div>
</div>
<div class="small-buttons">
  <%= render 'buttons' %>
</div>

<script>
  function playCode(){
    <%= sound.code %>
  }

  function stopCode(){
    T.pause();
  }
</script>

