<div class="text">
  <h4>Code</h4>
  <%= text_area(:sound, :code, cols:20, rows: 20, id: "codeText")%>
</div>
<% if @sound.user.username %>
  <div class="created-by">
    <%= @sound.user.username %>
  </div>
<% end %>
<div class="text">
  <h4>Description</h4>
  <%= text_area(:sound, :description, cols:20, rows: 20, id: "descriptionText")%>
</div>

<div class="buttons">
  <%= render 'buttons' %>
</div>

<div id="saveModal" class="reveal-modal" data-reveal>
  <% if current_user == @sound.user %>
    <%= render 'save' %>
  <% else %>
    <% @sound = Sound.new %>
    <%= render 'save' %>
  <% end %>
</div>

<script>
  function playCode(){
    var code = $("#codeText").val();
    eval(code);
  }
</script>
<script>
  function stopCode(){
    T.pause();
  }
</script>

