<div class="container">
  <div class="body">
    <%= form_for @sound do |f| %>
      <div class="left-half">
        <div class="text">
          <div class="top-row">
            <h4>Code</h4>
          </div>
          <%= f.text_field :code %>
        </div>
      </div>

      <div class="right-half">
        <div class="text">
          <h4>Description</h4>
          <%= f.text_field :description %>
        </div>
      </div>
      <div class="buttons">
        <ul class="button-group round">
          <li class="button tiny save-button"><%= f.submit 'Save'%></li>
          <li class="button tiny play-button" onclick="playCode()">Play</li>
        <li class="button tiny stop-button" onclick="stopCode()">Stop</li>
    </ul>
  </div>
<% end %>
  </div>
</div>

<script>
  function playCode(){
    <%= @sound.code.html_safe %>
  }
</script>
<script>
  function stopCode(){
    T.pause();
  }
</script>
