<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "https://mohayonao.github.io/timbre.js/timbre.js"%>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
      <h1><%= link_to "Synth Sandbox", root_path %></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
      <a href="#">Account</a>
      <ul class="dropdown">
        <% if current_user %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
        <li><a href="#">My Sounds</a></li>
      </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to "Explore", new_sound_path%></li>
    </ul>
    </section>
    </nav>

    <div class="large-6 columns large-centered">
      <% if notice %>
        <div data-alert class="alert-box info radius">
          <%= notice %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
      <% if alert %>
        <div data-alert class="alert-box alert radius">
          <%= alert %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
